* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
:root {
    --cor-primaria: #E2B7F0;
    --cor-secundaria: #e6d7f9;
    --cor-terciaria: #F2A2B7;
}